body {
  font-family: "Lucida Console", Courier, monospace;
}

/* Landing */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: white;
  background: lightcyan;
}

.landing button {
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
}

/* Navbar */

.nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  background: #191414;
}

.nav-link {
  text-decoration: none;
  font-size: large;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  margin: 1.5rem;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  color: #1DB954;
}

.nav-button p {
  margin: 1vw;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home h3 {
  color: dimgray;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
}

.home-title {
  width: 1500px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.description-item {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.description-icon {
  width: 2rem;
  height: 2rem;
}

#compilation-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.player {
  width: 100%;
}

.player iframe {
  width: 100%;
  height: 232px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#top-carousel {
  position: fixed;
  top: 60px;
  border-radius: 80px;
}

#bottom-carousel {
  position: fixed;
  bottom: 0;
}
  
.image-carousel {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  background: #1DB954;
  border-radius: 80px;
}

.carousel-container .image-carousel {
  transform: translateX(5%);
}

.carousel-container[data-animated="true"] .image-carousel {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 120s)
    var(--_animation-direction, forwards) linear infinite;
}

.carousel-container[data-direction="left"] {
  --_animation-direction: forwards;
}

.carousel-container[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-100%));
  }
}

/* Compilation Poster */

.compilation-poster {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
}

.compilation-poster-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightskyblue;
}

.compilation-poster-left h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.question-container {
  height: 56%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  overflow-y: scroll;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container::-webkit-scrollbar {
  width: 10px;
}

.question-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.question-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.question-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.question-container div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.question-container input {
  margin: 0.5rem;
}

#quantity-selection, #dimension-selection, #caption-selection {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#quantity-selection::-webkit-slider-thumb, #dimension-selection::-webkit-slider-thumb,
#caption-selection::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

#quantity-selection::-moz-range-thumb, #dimension-selection::-moz-range-thumb,
#caption-selection::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#quantity-selection {
  background: #aeddae;
}

#quantity-selection::-webkit-slider-thumb {
  background: #1DB954;
}

#dimension-selection {
  background: #99abd2;
}

#dimension-selection::-webkit-slider-thumb {
  background: #143f9d;
}

#caption-selection {
  background: #f0d9b5;
}

#caption-selection::-webkit-slider-thumb {
  background: #d9b514;
}

.compilation-poster-left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  margin-top: 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s ease;
}

.compilation-poster-left button:hover {
  background-color: #149d46;
}

.compilation-poster-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightgoldenrodyellow;
}

.compilation-poster-right h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Tracklist Poster */

.tracklist-poster {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
}

.tracklist-poster-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightskyblue;
}

.tracklist-poster-left h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tracklist-poster-left input {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tracklist-poster-left button {
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s ease;
}

.tracklist-poster-left button:hover {
  background-color: #149d46;
}

.tracklist-poster-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightgoldenrodyellow;
}

.tracklist-poster-right h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.poster-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1)
}

.poster-results::-webkit-scrollbar {
  width: 10px;
}

.poster-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.poster-results::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.poster-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.poster-result {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid lightgray;
  transition: background-color 0.3s ease;
}

.poster-result img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.poster-result:hover {
  background: lightgreen;
}

.poster-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  height: 100%;
  background: white;
  border-radius: 10px;
  border: 2px dashed lightgray;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poster-content {
  height: 410px;
  width: 300px;
  border: 5px double black;
  padding: 35px;
}

.poster-content img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.tracklist {
  display: flex;
  flex-direction: row;
}

.tracks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 185px;
  height: 110px;
  overflow-y: hidden;
  padding-left: 10px;
  line-height: normal;
}

.tracks li {
  text-overflow: ellipsis;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 115px;
  text-align: right;
  line-height: 1;
  text-overflow: ellipsis;
}

.title h6 {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#artist {
  margin-top: 3px;
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#duration-date, #label {
  margin-top: 0;
  font-size: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: dimgray;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* AI Poster */

.ai-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: lightsteelblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.ai-poster h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.ai-poster h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}

.prompt-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  font-family: inherit;
  border: none;
}

.generate-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #1db954;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #1aa34a;
}

.generated-image {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: lightcoral;
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
  box-sizing: border-box;
  overflow: auto;
}

.profile::-webkit-scrollbar {
  width: 10px;
}

.profile::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.profile::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.profile::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.profile-container {
  flex: 1;
  height: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

f
.profile-username,
.profile-email,
.profile-account {
  font-size: 1.2em;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.profile-account a {
  color: #1db954;
  text-decoration: none;
}

.profile-account a:hover {
  text-decoration: underline;
}

.profile-image {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
}

.profile-logout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-logout-button:hover {
  background-color: #1aa34a;
}

.top-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top-content p {
  font-size: 0.75em;
  margin-bottom: 20px;
}

.profile-top-artists {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-top-artists h2 {
  text-align: center;
}

.profile-top-tracks {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-top-tracks h2 {
  text-align: center;
}

.profile-top-genres {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-top-genres h2 {
  text-align: center;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.top-buttons button {
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.top-buttons button:nth-child(1) {
  background-color: #143f9d;
}

.top-buttons button:nth-child(2) {
  background-color: #5578c4;
}

.top-buttons button:nth-child(3) {
  background-color: #8baaeb;
}

.top-buttons button:hover {
  background-color: #1db954;
}

.profile-top-artists h4,
.profile-top-tracks h4,
.profile-top-genres h4 {
  color: dimgray;
}

.posters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posters h2 {
  margin-bottom: 0;
}

.posters h5 {
  color: red;
}

.posters-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.poster-container img {
  width: 25%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
