body {
  font-family: "Lucida Console", Courier, monospace;
}

/* Landing */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: white;
  background: lightcyan;
}

/* Navbar */

.nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  background: #191414;
}

.nav-link {
  text-decoration: none;
  font-size: large;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  margin: 1.5rem;
}

.nav-button:hover {
  color: #1DB954;
}

.nav-button p {
  margin: 1vw;
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: lightblue;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#top-carousel {
  position: fixed;
  top: 60px;
}

#bottom-carousel {
  position: fixed;
  bottom: 0;
}
  
.image-carousel {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  background: #1DB954;
}

.carousel-container .image-carousel {
  transform: translateX(5%);
}

.carousel-container[data-animated="true"] .image-carousel {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 120s)
    var(--_animation-direction, forwards) linear infinite;
}

.carousel-container[data-direction="left"] {
  --_animation-direction: forwards;
}

.carousel-container[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-100%));
  }
}

/* Compilation Poster */

.compilation-poster {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
}

.compilation-poster-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightskyblue;
}
.compilation-poster-left h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.question-container {
  height: 55%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  overflow-y: scroll;
  background: white;
  border-radius: 10px;
  border: 5px solid skyblue;
}

.question-container::-webkit-scrollbar {
  width: 10px;
}

.question-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.question-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.question-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.question-container div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.question-container input {
  margin: 0.5rem;
}

#quantity-selection, #dimension-selection, #caption-selection {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#quantity-selection::-webkit-slider-thumb, #dimension-selection::-webkit-slider-thumb,
#caption-selection::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

#quantity-selection::-moz-range-thumb, #dimension-selection::-moz-range-thumb,
#caption-selection::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#quantity-selection {
  background: #aeddae;
}

#quantity-selection::-webkit-slider-thumb {
  background: #1DB954;
}

#dimension-selection {
  background: #99abd2;
}

#dimension-selection::-webkit-slider-thumb {
  background: #143f9d;
}

#caption-selection {
  background: #f0d9b5;
}

#caption-selection::-webkit-slider-thumb {
  background: #d9b514;
}

.compilation-poster-left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  margin-top: 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
}

.compilation-poster-left button:hover {
  background-color: #149d46;
}

.compilation-poster-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightgoldenrodyellow;
}

.compilation-poster-right h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Tracklist Poster */

.tracklist-poster {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
}

.tracklist-poster-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightskyblue;
}

.tracklist-poster-left h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tracklist-poster-left input {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}

.tracklist-poster-left button {
  background-color: #1DB954;
  color: white;
  padding: 15px 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
}

.tracklist-poster-left button:hover {
  background-color: #149d46;
}

.tracklist-poster-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 50%;
  background: lightgoldenrodyellow;
}

.tracklist-poster-right h1 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.poster-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  background: white;
  border-radius: 10px;
}

.poster-results::-webkit-scrollbar {
  width: 10px;
}

.poster-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.poster-results::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.poster-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.poster-result {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.poster-result img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.poster-result:hover {
  background: lightgreen;
}

.poster-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  height: 100%;
  background: white;
  border-radius: 10px;
  border: 2px dashed lightgray;
  padding: 1rem;
}

.poster-content {
  height: 410px;
  width: 300px;
  border: 5px double black;
  background: floralwhite;
  padding: 35px;
}

.poster-content img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.tracklist {
  display: flex;
  flex-direction: row;
}

.tracks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 185px;
  height: 110px;
  overflow-y: hidden;
  padding-left: 10px;
  line-height: normal;
}

.tracks li {
  text-overflow: ellipsis;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 115px;
  text-align: right;
  line-height: 1;
  text-overflow: ellipsis;
}

.title h6 {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#artist {
  margin-top: 3px;
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#duration-date, #label {
  margin-top: 0;
  font-size: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: dimgray;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}