.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#title {
  text-align: center;
  font-size: 4vw;
}

.buttons {
  margin-top: 3vw;
}

.buttons button {
  margin: 1vw;
}

#spotify {
  background: #1cd760;
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 2vw;
  transition: all 0.3s ease;
}

#spotify:hover {
  font-size: 3vw;
  background: linear-gradient(to bottom right, #1cd760, #149d46);
}

#apple-music {
  background: #fb233c;
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 2vw;
  transition: all 0.3s ease;
}

#apple-music:hover {
  font-size: 3vw;
  background: linear-gradient(to bottom right, #fb233c, #ac1627);
}

.logo {
  margin-right: 1vw;
  font-size: 2vw;
}
